.container {
    padding: 15px;
    border: 1px solid black;
}

.lineItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.subtotal {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    padding-top: 15px;
}